/*==================================================
 * SCALABLE AND MODULAR ARCHITECTURE FOR CSS (SMACSS)
 ==================================================*/

/*==================================================
 * BASE STYLES
 ==================================================*/
	
/* 
	1em is considered roughly 100% of 16px font, so em translates to a 
	decimal based percentage of 16. To get the em, we take the target 
	pixel size and divide by 16.

	10 = 0.625em
	11 = 0.6875em
	12 = 0.75em
	13 = 0.8125em
	14 = 0.875em
	15 = 0.9375em
	16 = 1em
	17 = 1.0625em
	18 = 1.125em
	19 = 1.1875em
	20 = 1.25em
	21 = 1.3125em
	22 = 1.375em
	23 = 1.4375em
*/

body{
	background-color:#ccc;
	color:#000;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

address, caption, dl, ol, p, pre, table, ul{
	line-height:1.4em;
	margin:0 0 20px 0;
}

address, caption, dl, input, label, li, p, pre, span, td, textarea, th{
	font-size:0.8125em;
}

textarea {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1{
	font-size:1.4375em;
	line-height:1.4em;
	margin-bottom:20px;
}

h2{
	font-size:1.3125em;
	line-height:1.4em;
	margin-bottom:20px;
}

h3{
	font-size:1.1875em;
	line-height:1.4em;
	margin-bottom:20px;
}

h4{
	font-size:1.0625em;
	line-height:1.4em;
	margin-bottom:20px;
}

h5{
	font-size:1.0625em;
	line-height:1.4em;
	margin-bottom:20px;
}

h6{
	font-size:1.0625em;
	line-height:1.4em;
	margin-bottom:20px;
}

ol{
	list-style:decimal;
	margin-left:20px;
}

ul{
	list-style:square;
	margin-left:20px;
}

ol ol, ul ul{
	line-height:inherit;
	margin-bottom:0;
}

li li{
	font-size:1em;
}

a:link, a:visited{
	color:#0BB5FF;
	text-decoration:none;
}

a:hover, a:active{
	text-decoration:underline;
}

blockquote{
	font-style:italic;
	margin:0 20px;
}

dt, th{
	font-weight:bold;
}

small{
	font-size:0.75em;
}

/* clearfix class */

.clearfix:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
 
.clearfix{
	display:inline-block;
}
 
html[xmlns] .clearfix{
	display:block;
}
 
* html .clearfix{
	height:1%;
}

/*==================================================
 * LAYOUT STYLES
 ==================================================*/

.layout-container{
	background:#fff;
	margin:0 auto;
	width:980px;
}

.layout-printheader{
	display:none;
}

@media print{
	.layout-printheader{
		border-bottom:1px solid #ccc;
		display:block;
		margin-bottom:20px;
		padding:20px 0;
	}
}

.layout-header{
	background:#efefef;
	height:220px;
	position:relative;
	width:100%;
}

@media print{
	.layout-header{
		display:none;
	}	
}

.layout-logo{
	left:20px;
	top:20px;
	position:absolute;
}

.layout-navigation{
	bottom:0;
	left:20px;
	margin:0;
	padding:0;
	position:absolute;
}

.layout-navigation li {
	display:inline;
	padding:0;
}
	
.layout-navigation a{
	background:#333;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	color:#fff;
	float:left;
	margin-right:2px;
	padding:4px 7px;
}

.layout-navigation a:hover, .layout-navigation a:active{
	background:#666;
	text-decoration:none;
}

.layout-search-form{
	background:#ccc;
	border-radius:3px;	
	padding:5px;
	position:absolute;
	right:20px;
	top:20px;
}

.layout-search-form input{
	border:none;
	float:left;
	margin:0;
	padding:5px;
}

.layout-search-form input[type=text]{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;	
	width:200px;
}

.layout-search-form input[type=submit]{
	background:#333;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;	
	color:#fff;
}

.layout-article{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding:20px;
}

@media print{
	.layout-article{
		padding:0;
	}
}

.layout-breadcrumb{
	color:#ccc;
	font-style:italic;
	list-style:none;
	margin:0 0 10px 0;
}

@media print{
	.layout-breadcrumb{
		display:none;
	}
}

.layout-breadcrumb li{
	display:inline;
}

.layout-footer{
	background:#333;
	color:#fff;
	padding:40px 20px;
}

@media print{
	.layout-footer{
		display:none;
	}	
}

.layout-footer ul{
	margin:0;
	padding:0;
}

.layout-footer li{
	border-right:1px solid #fff;
	display:inline;
	padding:0 10px 0 5px;
}

.layout-footer .first-child{
	padding-left:0;
}

.layout-footer .last-child{
	border:none;
}

.layout-footer a{
	color:#fff;
}

/*==================================================
 * MODULE STYLES
 ==================================================*/

/* buttons */

.btn{
	background:#ccc;
	border:none;
	border-radius:5px;
	color:#fff;
	padding:6px 12px;
}

.btn:hover, .btn:active{
	background:#bbb;
	text-decoration:none;
}

/* alert boxes */

.alert{
	background:#efefef;
	border:1px solid #ddd;
	border-radius:3px;	  
	padding:5px;
}

/* forms */

.form-horizontal{
	width:500px;
}

.form-horizontal fieldset{
	background:#fddbaa;
	border:1px solid #fcc579;
	border-radius:3px;
	margin-bottom:20px;
	padding:14px 19px 24px 19px;
}

.form-horizontal .control-group{
	clear:both;
}

.form-horizontal .control-label{
	float:left;
	font-weight:bold;
	margin-bottom:20px;
	width:226px;
}

.form-horizontal .controls{
	float:left;
	width:230px;
}

.form-horizontal .controls span{
	display:block;
	padding:4px 0 8px 0;	
}

.form-horizontal .form-actions{
	text-align:right;
}

.form-horizontal .controls input, .form-horizontal .controls select, .form-horizontal .controls textarea{
	width:196px;
}

/* pager */

.pager{
	margin:0;
	padding:0;
	width:100%;
}

.pager li{
	display:inline-block;
	width:49%;
}

.pager .pager-next{
	text-align:right;
}

/*==================================================
 * STATE STYLES
 ==================================================*/

.alert.is-error{
	background:#fbe3e4;
	border-color:#fbc2c4;	
	color:#8a1f11;
}

.alert.is-notice{
	background:#fff6bf;
	border-color:#ffd324;
	color:#514721;
}

.alert.is-success{
	background:#e6efc2;
	border-color:#c6d880;
	color:#264409;
}

.alert.is-info{
	background:#d5edf8;
	border-color:#92cae4;
	color:#205791;
}

.form-horizontal .controls .is-error{
	color:#8a1f11;
}

.form-horizontal .controls .is-success{
	color:#264409;
}