/*==================================================
 * SCALABLE AND MODULAR ARCHITECTURE FOR CSS (SMACSS)
 ==================================================*/

/*==================================================
 * BASE STYLES
 ==================================================*/
	
/* 
	1em is considered roughly 100% of 16px font, so em translates to a 
	decimal based percentage of 16. To get the em, we take the target 
	pixel size and divide by 16.

	14 / 16 =     0.875em     (14px equivalent)
	16 / 16 =     1em         (16px equivalent)
	18 / 16 =     1.125em     (18px equivalent)
	21 / 16 =     1.3125em    (21px equivalent)
	24 / 16 =     1.5em       (24px equivalent)
	30 / 16 =     1.875em     (30px equivalent)
	72 / 16 =     4.5em       (72px equivalent)
*/

body {
	background-color:#327CCB;
	color:#111;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:100%;
}

address, caption, dl, ol, p, pre, table, ul {
	line-height:1.4em;
	margin:0 0 20px 0;
}

address, caption, dl, input, label, li, p, pre, span, td, textarea, th {
	font-size:1em;
}

textarea {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size:1.875em;
	line-height:1.4em;
	margin-bottom:20px;
}

h2 {
	font-size:1.5em;
	line-height:1.4em;
	margin-bottom:20px;
}

h3 {
	font-size:1.3125em;
	line-height:1.4em;
	margin-bottom:20px;
}

h4 {
	font-size:1.125em;
	line-height:1.4em;
	margin-bottom:20px;
}

h5, h6 {
	font-size:1em;
	line-height:1.4em;
	margin-bottom:20px;
}

ol {
	list-style:decimal;
	margin-left:20px;
}

ul {
	list-style:square;
	margin-left:20px;
}

ol ol, ul ul {
	line-height:inherit;
	margin-bottom:0;
}

li li {
	font-size:1em;
}

a:link, a:visited {
	color:#327CCB;
	text-decoration:none;
}

a:hover, a:active {
	text-decoration:underline;
}

blockquote {
	font-style:italic;
	margin:0 20px;
}

dt, th {
	font-weight:bold;
}

small {
	font-size:0.875em;
}

/*==================================================
 * LAYOUT STYLES
 ==================================================*/

.l-container {
	background:#fff;
	margin:20px auto;
	width:90%;
}

.l-printheader {
	display:none;
}

@media print {
	.l-printheader {
		border-bottom:1px solid #ccc;
		display:block;
		margin-bottom:20px;
		overflow:auto;
		padding:20px 0;
	}
}

.l-header {
	background:#efefef;
	height:220px;
	position:relative;
	width:100%;
}

@media print {
	.l-header {
		display:none;
	}	
}

.l-logo {
	font-size:4.5em;
	left:20px;
	top:20px;
	position:absolute;
}

.l-navigation {
	bottom:0;
	left:20px;
	margin:0;
	padding:0;
	position:absolute;
}

.l-navigation li {
	display:inline;
	padding:0;
}
	
.l-navigation a {
	background:#333;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	color:#fff;
	float:left;
	margin-right:2px;
	padding:4px 7px;
}

.l-navigation a:hover, .l-navigation a:active {
	background:#666;
	text-decoration:none;
}

.l-search {
	background:#ccc;
	border-radius:3px;	
	padding:5px;
	position:absolute;
	right:20px;
	top:20px;
}

.l-search input {
	border:none;
	float:left;
	margin:0;
	padding:5px;
}

.l-search input[type=text] {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;	
	width:200px;
}

.l-search input[type=submit] {
	background:#333;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;	
	color:#fff;
}

.l-article {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding:20px;
}

@media print {
	.l-article {
		padding:0;
	}
}

.l-breadcrumb {
	color:#ccc;
	font-style:italic;
	list-style:none;
	margin:0 0 10px 0;
}

@media print {
	.l-breadcrumb {
		display:none;
	}
}

.l-breadcrumb li {
	display:inline;
}

.l-footer {
	background:#333;
	color:#fff;
	padding:40px 20px;
}

@media print {
	.l-footer {
		display:none;
	}	
}

.l-footer ul {
	margin:0;
	padding:0;
}

.l-footer li {
	border-right:1px solid #fff;
	display:inline;
	padding:0 10px 0 5px;
}

.l-footer .first-child {
	padding-left:0;
}

.l-footer .last-child {
	border:none;
}

.l-footer a {
	color:#fff;
}

/*==================================================
 * MODULE STYLES
 ==================================================*/

/* buttons */

.btn {
	background:#ccc;
	border:none;
	border-radius:5px;
	color:#fff;
	padding:6px 12px;
}

.btn:hover, .btn:active {
	background:#bbb;
	text-decoration:none;
}

/* alert boxes */

.alert {
	background:#efefef;
	border:1px solid #ddd;
	border-radius:3px;	  
	padding:5px;
}

/*==================================================
 * STATE STYLES
 ==================================================*/

.alert.is-error {
	background:#fbe3e4;
	border-color:#fbc2c4;	
	color:#8a1f11;
}

.alert.is-notice {
	background:#fff6bf;
	border-color:#ffd324;
	color:#514721;
}

.alert.is-success {
	background:#e6efc2;
	border-color:#c6d880;
	color:#264409;
}

.alert.is-info {
	background:#d5edf8;
	border-color:#92cae4;
	color:#205791;
}